.contactUsContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


@media screen and (width <= 720px) {
    .contactUsContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .currencyContainer{
        display: flex;   
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 100%;
        border-top: 1px solid white;
        padding: 20px 0px 0px 0px;
    }
}