.filtersConainer{
    padding-left: 20px;
}

.filtersHeader{
    padding: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver;
    gap: 10px;
}