.userActionsContainer{
    display: inline-flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.userActionsDynamic{
    display: inline;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

@media screen and (width <= 720px) {
    .userActionsContainer{
        gap: 12px;
    }
    .userActionsDynamic{
        display: none;
    }

}