.headerContainer{
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    flex-direction: column;
    gap:60px;
    padding: 30px 15px;
}

.heroHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation{
    display: block;
}

.logo{
    font-size: 36px;
}

.menuIcon{
    display: none;
}

.icon{
    height: 36px;
    width: 36px;
}

@media screen and (width <= 720px) {
    .navigation{
        display: none;
    }
    .logo{
        font-size: 20px;
    }
    .menuIcon{
        display: inline-block;
        margin-right: 10px;
    }
    .icon{
        height: 24px;
        width: 24px;
    }
}